<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block title %}Réponse{% endblock %}
{% block content %}
<a href="/" class="button">Retour à la page d'accueil</a>
<a href="/clear" class="button">Effacer les réponses</a>
<table>
    {% for row in data %}
        <tr>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

<form action="/advice1" method="get">
    <input type="submit" value="Generate Advice">
</form>
{% endblock %}
</html>