<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block title %}Réponse{% endblock %}
{% block content %}
<a href="/" class="button">Retour à la page d'accueil</a>
<a href="/clear" class="button">Effacer les réponses</a>
<div class="card">
    <p>Voici les réponses que vous avez soumises: </p>
    <table>
        {% for row in data %}
            <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>


<form action="/advice" method="get">
    <button type="submit">Télécharger les conseils en PDF</button>
</form>
{% endblock %}
</html>