<!DOCTYPE html>
{% extends "base.html" %}
<html>
    {% block title %}Accueil{% endblock %}
    {% block content %}
    <h1>Conseils personnalisés pour améliorer la cyber-sécurité de sa PME</h1>
    <div class="card">
        <p>Bienvenue sur ma webapp, celle-ci a pour but de fournir des conseils personnalisé facilement applicable
           afin de renforcer votre cybersécurité. Pour ceci veuillez répondre au formulaire ci-dessous.
        </p>
    </div>
    <form action="/submit" method="post">

        <h4>Nom de votre entreprise</h4>
        <input type="text" id="nomPME" name="nomPME" maxlength="30" placeholder="Entrez le nom de votre entreprise" size=28 value="Test tb SARL"><br>
        <br>

        <h4>1. Combien d'ordinateurs et de périphériques connectés utilisez-vous dans votre entreprise ?</h4>
        <input type="radio" id="0-10" name="pcs" value="0-10">
        <label for="0-10">0-10</label><br>
        <input type="radio" id="11-50" name="pcs" value="11-50">
        <label for="11-50">11-50</label><br>
        <input type="radio" id="51-200" name="pcs" value="51-200">
        <label for="51-200">51-200</label><br>
        <input type="radio" id="201+" name="pcs" value="201+">
        <label for="201+">201+</label>
        <br><br>

        <h4>2. Vos données sont-elles stockées localement sur des serveurs ou dans le cloud ?</h4>
        <input type="radio" id="local" name="stockage" value="localement">
        <label for="local">Localement</label><br>
        <input type="radio" id="cloud" name="stockage" value="cloud">
        <label for="cloud">Dans le cloud</label>
        <br><br>

        <h4>3. Comment les données sont-elles partagées au sein de votre entreprise ?</h4>
        <input type="radio" id="interne" name="partage" value="interne">
        <label for="interne">Réseaux interne / Intranet</label><br>
        <input type="radio" id="externe" name="partage" value="externe">
        <label for="externe">Réseaux externe / Internet</label><br>
        <input type="radio" id="mixte" name="partage" value="mixte">
        <label for="mixte">Les deux / Interne et Externe</label>
        <br><br>

        <button type="submit">Soumettre</button>
    </form>
    <br>
    <a href="/submit" class="button">Voir les réponses</a>
    {% endblock %}
</html>
