<!DOCTYPE html>
{% extends "base.html" %}
<html>
    {% block title %}Accueil{% endblock %}
    {% block content %}
    <h1>Conseils personnalisés pour améliorer la cyber-sécurité de sa PME</h1>
    <div class="card">
        <p>Bienvenue sur l'application developpée par Lucas Le Breton dans le cadre de la fin de ses études.</p>
        <p>Celle-ci a pour but de fournir des conseils personnalisé facilement applicable
           afin de renforcer votre cybersécurité.</p>
        <p>Pour ceci veuillez répondre au formulaire ci-dessous.</p>
        <p>Veuillez soumettre au moins une réponse par question</p>
        <p>Ce projet utilise l'api d'OpenAI, veillez à ne pas soumettre de données qui vous semblent sensibles.</p>
        <p>Le code source est disponible en cliquant <a href="https://github.com/lebretonl/2024-tb"target="_blank"> ici</a></p>
    </div>
    <div class="card">
    <form action="/submit" method="post">

        <h4>Nom de votre entreprise</h4>
        <input type="text" id="nomPME" name="nomPME" maxlength="30" placeholder="Entrez le nom de votre entreprise" size=28><br>
        <br>
        <h4>Quel est votre domaine d'activité ?</h4>
        <input type="text" id="domaine" name="domaine" placeholder="Exemple: Boucherie, Batîment ..." size=28 maxlength="50">
        <br><br>

        <h4>1. Combien d'ordinateurs et de périphériques connectés utilisez-vous dans votre entreprise ?</h4>
        <input type="radio" id="0-10" name="pcs" value="0-10">
        <label for="0-10">0-10</label><br>
        <input type="radio" id="11-50" name="pcs" value="11-50">
        <label for="11-50">11-50</label><br>
        <input type="radio" id="51+" name="pcs" value="51+">
        <label for="51-200">51+</label>
        
        <br><br>

        <h4>2. Vos données sont-elles stockées localement sur des serveurs ou dans le cloud ?</h4>
        <input type="radio" id="local" name="stockage" value="localement">
        <label for="local">Localement</label><br>
        <input type="radio" id="cloud" name="stockage" value="cloud">
        <label for="cloud">Dans le cloud</label>
        <br><br>

        <h4>3. Comment les données sont-elles partagées au sein de votre entreprise ?</h4>
        <input type="radio" id="interne" name="partage" value="interne">
        <label for="interne">Réseaux interne / Intranet</label><br>
        <input type="radio" id="externe" name="partage" value="externe">
        <label for="externe">Réseaux externe / Internet</label><br>
        <input type="radio" id="mixte" name="partage" value="mixte">
        <label for="mixte">Les deux / Interne et Externe</label>
        <br><br>

        <h4>4. Quels types de logiciels utilisez-vous pour la gestion de votre entreprise </h4>
        <input type="checkbox" id="cms" name="logiciels" value="cms">
        <label for="cms">CMS / Site internet</label><br>
        <input type="checkbox" id="comptabilité" name="logiciels" value="comptabilité">
        <label for="compta">Logiciel de comptabilité (Crésus, Bexio...)</label><br>
        <input type="checkbox" id="crm" name="logiciels" value="crm">
        <label for="crm">CRM (Hubspot, Salesforce)</label><br>
        <input type="checkbox" id="erp" name="logiciels" value="erp">
        <label for="erp">ERP (SAP, Abacus ...)</label><br>
        <input type="checkbox" id="aucun" name="logiciels" value="aucun"  >
        <label for="aucun">Aucun</label> <br><br>
        <input type="text" id="autre" name="logiciels" placeholder="Autre logiciel utilisé" maxlength="30" size=28>
        <br><br>

        <h4>5. Offrez-vous des formations et/ou des séances de sensibilisations à la cybersécurité à vos employés ? Si oui, à quelle fréquence ?</h4>
        <input type="radio" id="6" name="formation" value="6 mois">
        <label for="oui">Oui, tous les 6 mois</label><br>
        <input type="radio" id="12" name="formation" value="1 ans">
        <label for="oui">Oui, une fois par an</label><br>
        <input type="radio" id="1" name="formation" value="une seule fois">
        <label for="oui">Oui, une seule fois</label><br>
        <input type="radio" id="non" name="formation" value="non">
        <label for="non">Non</label>
        <br><br>

        <h4>6. Quels sont les réseaux sociaux que vous utilisez dans un cadre professionnel ?</h4>
        <input type="checkbox" id="linkedin" name="reseaux" value="linkedin">
        <label for="linkedin">LinkedIn</label><br>
        <input type="checkbox" id="facebook" name="reseaux" value="facebook">
        <label for="facebook">Facebook</label><br>
        <input type="checkbox" id="x" name="reseaux" value="twitter">
        <label for="x">X</label><br>
        <input type="checkbox" id="instagram" name="reseaux" value="instagram">
        <label for="instagram">Instagram</label><br>
        <input type="checkbox" id="aucun" name="reseaux" value="aucun">
        <label for="aucun">Aucun</label><br><br>
        <input type="text" id="autre" name="reseaux" placeholder="Autre réseau utilisé" maxlength="30" size=28>
        <br><br>

        <h4>7. Quels outils de sécurité utilisez-vous?</h4>
        <input type="checkbox" id="antivirus" name="outils" value="antivirus">
        <label for="antivirus">Antivirus</label><br>
        <input type="checkbox" id="firewall" name="outils" value="firewall">
        <label for="firewall">Pare-feux/Firewall</label><br>
        <input type="checkbox" id="vpn" name="outils" value="vpn">
        <label for="vpn">VPN</label><br>
        <input type="checkbox" id="gestion de mot de passe" name="outils" value="gestion de mot de passe">
        <label for="gestion de mot de passe">Gestionnaire de mot de passe</label><br>
        <input type="checkbox" id="sauvegarde" name="outils" value="sauvegarde">
        <label for="sauvegarde">Système de sauvegarde</label><br>
        <input type="checkbox" id="aucun" name="outils" value="aucun">
        <label for="aucun">Aucun</label><br><br>

        <h4>8. Comment votre réseau wifi est-il accessible?</h4>
        <input type="radio" id="pas de mot de passe" name="wifi" value="pas de mot de passe">
        <label for="pas de mot de passe">Pas de mot de passe</label><br>
        <input type="radio" id="simple" name="wifi" value="un mot de passe simple (123456789)">
        <label for="simple">Mot de passe simple (exemple : 123456789)</label><br>
        <input type="radio" id="moyen" name="wifi" value="un mot de passe moyen (Entreprise12)">
        <label for="moyen">Mot de passe moyen (exemple : Entreprise12)</label><br>
        <input type="radio" id="eleve" name="wifi" value="un mot de passe élevé (Mg7@Lkf232-!)">
        <label for="eleve">Mot de passe élevé (exemple : Mg7@Lkf232-!)</label><br><br>

        <h4>9. Quelles sont les actions que vous avez/auriez entrepris après une cyberattaque ?</h4>
        <input type="checkbox" id="log" name="actions" value="vérification des logs">
        <label for="log">Vérification des logs</label><br>
        <input type="checkbox" id="debrancher" name="actions" value="débranchement des machines">
        <label for="debrancher">Débranchement des machines</label><br>
        <input type="checkbox" id="prestataire" name="actions" value="contact préstataire informatique">
        <label for="prestataire">Contacter le prestataire informatique</label><br>
        <input type="checkbox" id="wifi" name="actions" value="couper le wifi">
        <label for="wifi">Couper le wifi</label><br>
        <input type="checkbox" id="ofcs" name="actions" value="contact office fédérale de la cyber-sécurité">
        <label for="ofcs">Contacter l'Office fédérale de la cyber-sécurité</label><br>
        <input type="checkbox" id="sauvegarde" name="actions" value="isoler les sauvegarde">
        <label for="sauvegarde">Isoler les sauvegarde</label><br>
        <input type="checkbox" id="screenshot" name="actions" value="conservation des preuves via screenshot">
        <label for="screenshot">Conservation des preuves via screenshot</label><br>
        
        
    </div>
        <button type="submit">Soumettre</button>
    </form>
    <br>
    <a href="/submit" class="button">Voir les réponses</a>
    {% endblock %}
</html>
